$iconSpritePath: asset-url('glyphicons-halflings.png',image);
$iconWhiteSpritePath: asset-url('glyphicons-halflings-white.png',image);
@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";

/* Mixins */

@mixin float-right {
	float: right;
	margin: 0 5px;
}

/* Bootstrap Extensions */

.touchstone .page-header .btn {
	@include float-right;
}

.alert {
	text-align: center;
	padding-bottom: 0px;
}

/* Styles */

.touchstone .navbar .brand {
	font-weight: bold;
}

.touchstone .navbar .brand a {
	color: rgb(0,0,0);
	text-shadow: rgba(255,255,255,0.125) 0px 1px 0px;
	text-decoration: none;
}

.touchstone .navbar .brand a:hover {
	text-shadow: rgba(255,255,255,0.25) 0 0px 2px;
}

.touchstone {
	font: 62.5% "Helvetica Neue", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: normal;
	-webkit-text-shadow: 0px -1px 0px rgb(68,68,68);
}

.touchstone th,
.touchstone td {
	font-size: 1.4em;
}

.touchstone .controls select:first-child,
.touchstone .controls select:last-child {
	width: 60px;
}

.touchstone .controls select:nth-child(2) {
	width: 140px;
}

.touchstone #financials {
	margin-bottom: 10px;
}

.touchstone .stats span {
	color: rgb(0,115,204);
}

.touchstone #visits {
	margin-bottom: 20px;
}